In [1]:
# Conslidate home pricing data

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import dataframe_image as dfi

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Condo data
condo = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/condos.csv')
condo.shape
condo.head(5)

(172, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,75689.0,...,182571.0,185374.0,188026.0,190355.0,193537.0,196396.0,199930.0,202928.0,208014.0,213124
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,85415.0,...,186930.0,189428.0,192445.0,195758.0,199807.0,202847.0,206413.0,208877.0,213941.0,219143
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,95084.0,...,199807.0,203616.0,207055.0,210996.0,214659.0,217837.0,220257.0,222513.0,227527.0,233381
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,108714.0,...,174923.0,177794.0,180321.0,182751.0,186486.0,189622.0,193846.0,197279.0,203645.0,209279
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,122942.0,...,284164.0,289149.0,294029.0,299379.0,305622.0,310966.0,317094.0,323029.0,332180.0,342727

In [3]:
# Single family home data
single_family_home = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/single_family_homes.csv')
single_family_home.shape
single_family_home.head(5)

(374, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,136318.0,...,436070,444885,452853,461679,471370,479773,491163,502077,517693,530865
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,105703.0,...,459697,465651,471669,480429,491121,503123,512300,519970,535717,552706
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,134850.0,...,457860,466733,474819,484295,493835,503352,513427,523242,539269,554898
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,93462.0,...,359733,365810,372523,379460,387180,393687,401516,408962,420082,430032
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,170563.0,...,634358,649092,662395,677932,695905,715538,735006,755191,781822,810087

In [4]:
# 1 bd data
one_bd = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/1_bedroom.csv')
one_bd.shape
one_bd.head(5)

(124, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,63373.0,...,154686.0,156711.0,159056.0,160525.0,163212.0,164894.0,166666.0,167572.0,169902.0,173769
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,66004.0,...,175178.0,177640.0,180197.0,182337.0,185771.0,188471.0,191886.0,194157.0,198594.0,203446
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,61343.0,...,179534.0,182554.0,185222.0,188006.0,190477.0,193096.0,196050.0,199008.0,204051.0,210282
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,35325.0,...,150449.0,152893.0,155392.0,157609.0,160161.0,163131.0,166498.0,170027.0,175503.0,181159
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,114766.0,...,235002.0,239131.0,243325.0,247852.0,253144.0,259045.0,265081.0,270983.0,278499.0,287420

In [5]:
# 2 bd data
two_bd = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/2_bedroom.csv')
two_bd.shape
two_bd.head(5)

(250, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,94604.0,...,278731.0,283839.0,288755.0,293741.0,298951.0,303148.0,309074.0,315028.0,323963.0,332581
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,82095.0,...,207485.0,210123.0,213412.0,217423.0,221806.0,225294.0,229319.0,232348.0,238038.0,243788
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,111789.0,...,372120.0,379075.0,385431.0,392718.0,400327.0,407297.0,414209.0,420848.0,432327.0,445101
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,88158.0,...,277738.0,282993.0,288432.0,294323.0,300572.0,305571.0,312978.0,320067.0,329466.0,337004
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,153288.0,...,430218.0,438079.0,445825.0,455148.0,465447.0,474797.0,483765.0,492849.0,508059.0,524801

In [6]:
# 3 bd data
three_bd = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/3_bedroom.csv')
three_bd.shape
three_bd.head(5)

(296, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,137952.0,...,430323.0,438571.0,445536.0,453341.0,462298.0,470413.0,481366.0,492002.0,507258.0,520511
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,115459.0,...,433877.0,440507.0,445556.0,452461.0,459719.0,468042.0,477693.0,487511.0,503499.0,517864
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,151224.0,...,450474.0,459200.0,467205.0,476714.0,485054.0,493810.0,503963.0,514622.0,531292.0,547064
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,109429.0,...,349478.0,356162.0,363063.0,370146.0,378567.0,385362.0,391761.0,397651.0,407428.0,416986
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,196783.0,...,622096.0,636327.0,648270.0,662098.0,677379.0,694459.0,710063.0,726399.0,748019.0,772462

In [7]:
# 4 bd data
four_bd = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/4_bedroom.csv')
four_bd.shape
four_bd.head(5)

(160, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,179284.0,...,467509.0,476807.0,484696.0,492931.0,502502.0,510957.0,523174.0,535470.0,553907.0,568594
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,149003.0,...,528751.0,534466.0,540350.0,547273.0,558069.0,569059.0,578024.0,585197.0,600862.0,619775
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,163317.0,...,490675.0,499805.0,508952.0,518781.0,528902.0,537486.0,548107.0,559068.0,576615.0,591687
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,111118.0,...,396484.0,403630.0,410666.0,417052.0,426350.0,434095.0,442515.0,449712.0,460869.0,471939
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,215226.0,...,710281.0,727193.0,742001.0,756097.0,772919.0,791825.0,812289.0,831758.0,857769.0,885292

In [8]:
# 5+ bd data
five_plus_bd = pd.read_csv('/Users/faisalhossain/PycharmProjects/Miami-ML/data/5plus_bedroom.csv')
five_plus_bd.shape
five_plus_bd.head(5)

(58, 279)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,205383.0,...,515402.0,526074.0,535752.0,545956.0,557083.0,566152.0,577150.0,588778.0,607485.0,623860
1,269072,142,Little Havana,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,NaN,...,606724.0,617722.0,629061.0,640718.0,656618.0,675181.0,693486.0,706797.0,728242.0,749030
2,269228,190,Alameda - West Flagler,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,177835.0,...,549259.0,559746.0,570650.0,580776.0,591391.0,598905.0,608211.0,617588.0,635023.0,650578
3,123423,220,Allapattah,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,129076.0,...,463137.0,470631.0,478168.0,484922.0,494488.0,501513.0,512966.0,521841.0,537700.0,549915
4,268938,240,Coral Way,Neighborhood,FL,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,284773.0,...,845926.0,863824.0,880248.0,896081.0,917568.0,941615.0,968792.0,995640.0,1027939.0,1067013

In [19]:
# Combine dataframes
condo['HouseType'] = 'condo'
single_family_home['HouseType'] = 'single family home'
one_bd['HouseType'] = '1 bd'
two_bd['HouseType'] = '2 bd'
three_bd['HouseType'] = '3 bd'
four_bd['HouseType'] = '4 bd'
five_plus_bd['HouseType'] = '5+ bd'

house_df = pd.concat([condo, single_family_home, one_bd, two_bd, three_bd,four_bd, five_plus_bd])
del house_df["StateName"]

# Move houseType to front
first_column = house_df.pop('HouseType')
  
# insert column using insert(position,column_name,first_column) function
house_df.insert(4, 'HouseType', first_column)

house_df.head(5)

,RegionID,SizeRank,RegionName,RegionType,HouseType,State,City,Metro,CountyName,1/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
0,124381,134,Flagami,Neighborhood,condo,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,75689.0,...,182571.0,185374.0,188026.0,190355.0,193537.0,196396.0,199930.0,202928.0,208014.0,213124
1,269072,142,Little Havana,Neighborhood,condo,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,85415.0,...,186930.0,189428.0,192445.0,195758.0,199807.0,202847.0,206413.0,208877.0,213941.0,219143
2,269228,190,Alameda - West Flagler,Neighborhood,condo,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,95084.0,...,199807.0,203616.0,207055.0,210996.0,214659.0,217837.0,220257.0,222513.0,227527.0,233381
3,123423,220,Allapattah,Neighborhood,condo,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,108714.0,...,174923.0,177794.0,180321.0,182751.0,186486.0,189622.0,193846.0,197279.0,203645.0,209279
4,268938,240,Coral Way,Neighborhood,condo,FL,Miami,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,122942.0,...,284164.0,289149.0,294029.0,299379.0,305622.0,310966.0,317094.0,323029.0,332180.0,342727

In [15]:
# Dataset dimensions
house_df.shape
house_df.describe()

(1434, 279)

,RegionID,SizeRank,1/31/00,2/29/00,3/31/00,4/30/00,5/31/00,6/30/00,7/31/00,8/31/00,...,9/30/21,10/31/21,11/30/21,12/31/21,1/31/22,2/28/22,3/31/22,4/30/22,5/31/22,6/30/22
count,1434.000000,1434.000000,9.750000e+02,9.790000e+02,9.800000e+02,9.800000e+02,9.800000e+02,9.800000e+02,9.800000e+02,9.800000e+02,...,1.378000e+03,1.378000e+03,1.382000e+03,1.385000e+03,1.387000e+03,1.389000e+03,1.395000e+03,1.405000e+03,1.417000e+03,1.434000e+03
mean,410654.138075,7446.164575,1.665843e+05,1.671009e+05,1.678596e+05,1.694521e+05,1.710514e+05,1.725899e+05,1.741182e+05,1.757011e+05,...,6.351901e+05,6.496264e+05,6.621802e+05,6.758447e+05,6.912290e+05,7.063412e+05,7.337796e+05,7.542926e+05,7.784152e+05,8.057913e+05
std,252744.798208,4639.830560,1.660228e+05,1.662585e+05,1.671387e+05,1.689669e+05,1.711935e+05,1.735398e+05,1.758052e+05,1.780679e+05,...,1.149739e+06,1.162650e+06,1.173460e+06,1.195865e+06,1.219397e+06,1.250103e+06,1.314001e+06,1.350340e+06,1.396368e+06,1.449786e+06
min,12330.000000,134.000000,2.410600e+04,2.409600e+04,2.407200e+04,2.420300e+04,2.459100e+04,2.511000e+04,2.542200e+04,2.558700e+04,...,6.856800e+04,7.050400e+04,7.235200e+04,7.395100e+04,7.582700e+04,7.360500e+04,7.619500e+04,7.863100e+04,8.094100e+04,8.445200e+04
25%,266406.000000,3646.000000,8.273850e+04,8.283650e+04,8.323325e+04,8.368400e+04,8.450000e+04,8.496975e+04,8.544950e+04,8.603125e+04,...,2.649842e+05,2.705458e+05,2.756050e+05,2.807230e+05,2.860105e+05,2.907120e+05,2.967860e+05,3.036850e+05,3.091580e+05,3.144568e+05
50%,269208.000000,7007.000000,1.095810e+05,1.098690e+05,1.103890e+05,1.115175e+05,1.122700e+05,1.130455e+05,1.139785e+05,1.146235e+05,...,3.674290e+05,3.753280e+05,3.827920e+05,3.902650e+05,3.987450e+05,4.069640e+05,4.149470e+05,4.235920e+05,4.345750e+05,4.453765e+05
75%,760907.000000,11329.000000,1.778125e+05,1.783490e+05,1.784095e+05,1.795785e+05,1.805368e+05,1.826298e+05,1.839248e+05,1.856260e+05,...,6.022265e+05,6.165435e+05,6.276475e+05,6.423380e+05,6.582175e+05,6.751810e+05,6.983465e+05,7.242610e+05,7.490270e+05,7.696048e+05
max,764325.000000,17008.000000,1.479723e+06,1.468312e+06,1.463514e+06,1.456677e+06,1.462292e+06,1.484469e+06,1.513984e+06,1.550255e+06,...,2.976444e+07,2.964720e+07,2.958977e+07,3.016698e+07,3.061436e+07,3.154136e+07,3.269876e+07,3.393280e+07,3.527195e+07,3.645837e+07

In [20]:
# Export dataset
house_df.to_csv("house_price_dataset.csv", encoding='utf-8')

/Users/faisalhossain/PycharmProjects/Miami-ML/venv/lib/python3.9/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)